
ion-content::part(scroll) {
    padding-left: 0 !important;
    padding-right: 0 !important;
    scrollbar-width: thin;
    /* scrollbar-color: var(--ion-color-primary) var(--ion-color-primary-tint); */
  }

  ion-content::-webkit-scrollbar {
    width: 4px; 
  }
  
  ion-content::-webkit-scrollbar-thumb {
    /* background: var(--ion-color-primary);  */
  }
  
  ion-content::-webkit-scrollbar-track {
    /* background: var(--ion-color-primary-tint);  */
  }
  