.modal-backdrop {
    --backdrop-opacity: 1 !important;

}

.custom-modal {
    --width: 45%;
    --height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    --backdrop-opacity: 1;

}


.custom-modal .modal-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(0%);
}

.card-color {
    --ion-background-color: #f2f2f2;

}

.button-blue-modal {
    --background: #2844d4;
    --border-radius: 0;
    --color: white;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    --border-style: none;
    --margin: 0
}

.button-gris-modal {
    --background: #a8a4a4;
    --border-radius: 0;
    --color: white;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    --border-style: none;
    --margin: 0
}

.button-custom-padding {
    --padding-start: 3rem;
    --padding-end: 3rem;
    --padding-top: .75rem;
    --padding-bottom: .75rem;
}


@media (max-width: 768px) {

    .custom-modal {
        --width: 70%;
        --height: 35%;
    }
}

@media (min-width: 769px) {

    .custom-modal {
        --width: 40%;
        --height: 40%;

    }
}