.canvasOptions {

	position: absolute !important;
	z-index: 99999 !important;
	background-color: white !important;
	border-bottom: 1px solid rgb(230, 230, 230);
}

.fixed {

	position: fixed !important;
	background-color: white !important;
	border-bottom: 1px solid rgb(204, 204, 204) !important;
}

.picker {

	width: 100% !important;
}